@mixin reset {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin flex($direction: row , $justify: flex-start, $align: stretch) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin background($size: cover, $position: center, $repeat: no-repeat) {
    background-size: $size;
    background-position: $position;
    background-repeat: $repeat;
}